*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#main{
  width: 100%;
  height: 100%;
}
.nav{
  padding: 0vw 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #dadada;
  /* background-color: burlywood; */
}
.nav h2{
  font-size: 2.2vw;
  font-weight: 700;
}
.nav h4{
  font-size: 1.6vw;
}
.nav-part2{
  display: flex;
  align-items: center;
  gap: 3vw;
}
.nav h4:hover{
  cursor: pointer;
  border-bottom: 2px solid #111;
  /* transform: scale(1.1); */
}
#logo{
  width: clamp(40px, 10vw, 60px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img{
  height: auto;
  width: 100%;
}
#logo:hover{
  cursor: pointer;
}
.content{
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  /* background-color: blueviolet; */
}
.left {
    width: 55%;
    height: 100%;
    padding: 2vw 3vw;
}
.left h1{
  font-size: 3.8vw;
}
.left span{
  color: lightseagreen;
}
.left p{
    font-size: large;
    color: #666;

    margin-top: 2vw;
    margin-bottom: 3vw;
}

/* --------------------------Right------------------------- */
.right {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container{
  width: 24vw;
  height: calc(100% - 100px);
  margin-bottom: 20vh;
  overflow: hidden;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  /* background-color: red; */
}
.circle{
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  background-color: lightseagreen;
  position: relative;
  display: flex;
  align-items: end;
}

.circle img{
  max-width: 100%;
  height: auto;
  position: absolute;
  transform: translateY(-5vh) scale(2.3);
  transition: 0.5s ease-in-out;
}

.img-container:hover .circle img{
  transform: translateY(-9vh) scale(2.4);
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1vw;
  padding: 2vw 2vw;
  border-radius: 10px;
  color: white;
  background-color: lightseagreen;
  font-weight: 600;
  width: 11vw;
  height: 1vw;
}
.nav button{
  padding: 1.2vw 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 1.5vw;
}

button:hover{
  background-color: rgb(19, 151, 145);
  cursor: pointer;
}



@media (max-width: 800px) {
  .nav{
    height: 60px;
    padding: 2vw 3vw;
  }
  .nav h2{
    font-size: 4vw;
  }
  .nav h4{
    font-size: 3vw;
    display: none;
  }
  .content{
    display: flex;
    flex-direction: column;
  }
  .right{
    padding-bottom: 1vh;
  }
}